.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
/node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
# VSC ignoring disabled to use different code formatters in different projects
# .vscode